body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  box-shadow: 0px 2px 1px -1px grey, 0px 1px 2px 0px grey, 0px 1px 1px 0px rgba(128, 124, 124, 0.12) !important;
  
}

.App {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back--img{
  background-image: url("/public/assets/images/login-background-image.jpg");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.form--img{
  background-image: url("/public/assets/images/login-user-logo.png");
  background-size: contain;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.login--form{
  background-color: #F1EEED;
  border-style: solid;
  border-radius: 10px;
  border-width: medium;
  box-shadow: lawngreen;
}

.email--form{
  border-style:groove;
  border-radius: 5px !important;
  margin-right: 0px !important;
  margin-left: 1px ;
  margin-bottom: 1px;
}

.passw--form{
  border-style:groove;
  border-radius: 5px !important;
  margin-right: 0px !important;
  margin-left: 1px ;
  margin-bottom: 0.5px;
  margin-top: 1px;
}

.btn{
  color: white !important;
  background-color:#4D4C4B !important;
  justify-content: center !important;
  align-items: center !important;
  display:flex !important;
  text-align: center !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
  border-radius: 0 !important;
  margin-top: 2px !important;
}

.btn:hover{
  background-color: black !important;
}

.email--label{
  color: rgb(203, 13, 13);
  font-size: small;
  height: 100%;
  display: flex;
  padding-left: 10px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.passw--label{
  color: rgb(203, 13, 13);
  font-size: small;
  padding-left: 10px;
  height: 100%;
  display: flex;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.login-background {
  background-image: url('./../public/assets/images/login-image.jpg');
}
